
.react-tabs__tab-list {
    border: none;
}

.react-tabs__tab--selected {
    border: 2px solid #337ab7;
    border-bottom-width: 1px;
    color: #337ab7;
}

.react-tabs__tab-list {
    margin-bottom: 0px;
}

.fixedDataTableLayout_main {
    border: 2px solid #337ab7;
    border-radius: 0px 4px 4px;
    outline: 0;
}

.public_fixedDataTableCell_main {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #337ab7;

}

.public_fixedDataTable_header, .public_fixedDataTable_scrollbarSpacer, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: none;
}

.public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder{
    border-color: #337ab7;
    border-width: 2px;
}