.space {
    text-align: left;
    border: 2px solid #337ab7;
    border-radius: 4px;
    color: #337ab7;
    padding: 10px 30px 30px 30px;
}

.space > h1 {
    margin-bottom: 30px;
}
.space > h1 > span {
    font-size: small;
}

.space p.description {
    border: 2px solid #337ab7;
    border-radius: 4px;
    width: 50%;
    height: 180px;
    text-align: left;
    padding: 5px;
    margin-bottom: 50px
}